@import 'reset';
*,*::before,*::after {
  box-sizing: border-box;
}
#menu-control{
    display: none;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    
    .header{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 10% 32px 10%;
        border-bottom: 1px solid;
        border-color: #F1F1F1;
        .header-bar{
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .menu-btn{
            cursor:pointer;
            display: none;
            .bx{
               font-size: 40px;
            }
            .bx-x{
              display:none;
            }
          }
        >ul{
            margin: 0 auto;
            display: flex;
            gap: 40px;
            >li{
                padding: 4px 8px 4px 8px;
                gap: 10px;
                >a{
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    text-decoration: none;
                    position: relative;
                    &::before,&::after {
                        content:'';
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border: 1px solid #919191;
                        -webkit-box-reflect:below 20px;
                        opacity:0;
                      }
                      &::before{
                        top:-30%;
                        left:-10%;
                        border-right:none;
                        border-bottom:none;
                      }
                      &::after{
                        top:-30%;
                        right:-10%;
                        border-left:none;
                        border-bottom:none;
                      }
                      &:hover::before,&:hover::after{
                        opacity:1;
                      }
                }
                
            }
        }
    }
    .banner{
        max-width: 100%;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 0px 80px 0px;
        .main-title{
            max-width: 90%;
            position: relative;
            z-index: 1;
            .quote-right{
                position: absolute;
                right: 0px;
                bottom: 0px;
            }
            .quote-left{
                position: absolute;
                top: 0px;
                left: 0px;
            }
            .text{
                padding: 59px 71px 59px 71px;
                margin: 0 auto;
                display: block;
            }
            .slogan1,.slogan2{
                margin-bottom: 16px;
                text-align: center;
                >p{
                    display: inline;
                    text-align: center;
                    font-size: 24px;
                    line-height: 28.8px;
                    position: relative;
                }
            }
            .mark{
                position: absolute;
                bottom: -3%;
                right: -3%;
                z-index: -1;
            }   
            
        }
        >ul{
            width: 636px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto;
            >li{
                width: 298px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                margin: 0 auto;
                >h4{
                    font-size: 16px;
                    line-height: 24px;
                    color: #5B5B5B;

                }
                .line{
                    width: 24px;
                    border-bottom: 2px solid;
                    border-color: #C1C1C1;
                    text-align: center;
                    margin-top: 4px;
                    margin-bottom: 8px;
                }
                >p{
                    font-size: 16px;
                    line-height: 24px;
                    color: #3B3B3B;
                }
            }
        }
    }
    .main{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 120px 0px 120px 0px;
        .cards{
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            gap: 24px;
            >li{
                max-width: 48%;
                >img{
                    border-radius: 8px;
                    border: 1px solid;
                    border-color: #F1F1F1;
                    &:hover{
                        filter:opacity(0.8)
                    }
                }
                .intro{
                    max-width: 100%;
                    padding: 16px;
                    padding-bottom: 80px;
                    >h2{
                        color: #3B3B3B;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 33.6px;
                        margin-bottom: 8px;
                    }
                    >p{
                        color: #919191;
                        font-weight: 400;
                        line-height: 24px;
                        margin-bottom: 16px;
                    }
                }
                .btn{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;
                    >li>a{
                        max-width: 50%;
                        display: inline;
                        background-color: #F1F1F1;
                        color: #3B3B3B;
                        text-decoration: none;
                        padding: 4px 12px 4px 12px;
                        border-radius: 16px;
                        line-height: 24px;
                        &:hover{
                            background-color: #3B3B3B;
                            color: #f1f1f1;
                        }
                        }
                    }
                }
            }
        .pages{
            width: 152px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            margin-top: 72px;
            gap: 18px;
            >a{
                width: 40px;
                height: 40px;
                display: flex;
                text-decoration: none;
                flex-direction: column;
                justify-content: center;
                border-radius: 4px;
                padding: 2px 13px 2px 13px;
                text-align: center;
                color: #000;
                background-color: #fff;
                &:hover{
                    background-color: #000;
                    color: white;
                }
                
            }
            .active{
                background-color: #000;
                color: white;
            }
            
        }
    }
    .footer{
        max-width: 100%;
        height: auto;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 80px 10% 80px 10%;
        background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        gap: 40px;
        .info{
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            position: relative;
            img{
                max-width: 100%;
            }
            h4{
                font-size: 20px;
                line-height: 30px;
                color: #3B3B3B;
                margin-bottom: 24px;
                margin-top: 24px;
            }
            p{
                font-size: 20px;
                line-height: 24px;
                color: #919191;

            }
        }
        ul{
            max-width: 364px;;
            height: 264px;
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            gap: 24px;
            li{
                max-width: 100%;
                height: 72px;
                display: flex;
                align-items: center;
                padding: 8px 24px 8px 24px;
                background-color: #FFFFFF;
                border-radius: 8px;
                border: 1px solid #C1C1C1;
                &:hover{
                    background-color: #000;
                    >a{
                        color: white;
                    }
                }
                >a{
                    text-decoration: none;
                    color: #000;
                }
            }
            .active{
                background-color: #000;
                >a{
                    color: #fff;
                }
            }
            
        }
    }
    .modal{
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: 0 auto;
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: rgba(0,0,0,0.1); 
        >.modal-content{
            width: 70%;
            border-radius: 16px;
            position: relative;
            background-color: #FFFFFF;
            margin: 0 auto;
            gap: 40px;
            >.close {
                color: #aaa;
                position: absolute;
                top: 39px;
                right: 39px;
                font-size: 28px;
                font-weight: bold;
            }
            >.close:hover,
            >.close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            >.modal-header{
                max-width: 100%;
                display: flex;
                padding-top: 88px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //padding: 40px 0px 40px 0px;
                gap: 8px;
                >h2{
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 33.6px;
                    color: #3B3B3B;
                }
                >p{
                    line-height: 24px;
                    color: #919191;
                }
            }
            >.description{
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 40px 56px 40px 56px;
                line-height: 24px;
                .modal-text{
                    color: #1E1E1E;
                    padding: 0px 72px 0px 0px;
                }
                .modal-info{
                    color: #5B5B5B;
                    padding: 0px 0px 0px 24px;
                    border-left: 1px solid #C1C1C1;
                    gap: 8px;
                    .br{
                        display: inline;
                    }
                    .colon{
                        display: inline;
                    }
                }
            }
            >.modal-cards{
                max-width: 100%;
                margin: 0 auto;
                padding: 80px 0px 80px 0px;
                gap: 56px;
                background-color: #FAFAFA;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom-right-radius: 16px;
                border-bottom-left-radius: 16px;
                >li{
                    max-width: 70%;
                    text-align: center;
                    >img{
                        border-radius: 20px;
                        margin-bottom: 24px;
                    }
                    >h2{
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 28.8px;
                        color: #1E1E1E;
                        margin-bottom: 16px;
                    }
                    >p{
                        color: #5B5B5B;
                        line-height: 24px;
                    }
                }
            }
            
        }
    }
}
@media (max-width: 996px){
    .container{
        max-width: 996px;
        .main>.cards>li{
            max-width: 75%;
        }                    
    }
}
@media (max-width: 767px){
    #menu-control:checked~{
        .container>.header{
            display: flex;
            flex-direction: column;
            .bx-menu{
                display: none;
            }
            .bx-x{
                display: block;
            }
            >ul{
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 0 auto;
                padding-top: 40px;
                padding-bottom: 40px;
                gap: 24px;
                >li{
                    >a{
                        font-size: 20px;
                        line-height: 30px;
                        &::before,&::after {
                            content:'';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border: 1px solid #919191;
                            -webkit-box-reflect:below 20px;
                            opacity:0;
                          }
                          &::before{
                            top:-20%;
                            left:-10%;
                            border-right:none;
                            border-bottom:none;
                          }
                          &::after{
                            top:-20%;
                            right:-10%;
                            border-left:none;
                            border-bottom:none;
                          }
                          &:hover::before,&:hover::after{
                            opacity:1;
                          }
                    }
                }
            }
        }
    }
    .container{
        max-width: 767px;
        .header{
            display: block;
            .header-bar{
                width: 100%;
            }
            .menu-btn{
                display: block;
            }
            >ul{
                display: none;
            }
        }
        .banner{
            .main-title{
                .quote-left{
                    left: 50%;
                    top: -13px;
                    transform: translate(-50%);
                }
                .quote-right{
                    display: none;
                }
                .slogan1,.slogan2{
                    >p{
                        display: block;
                    }
                }
                .mark{
                    bottom: -3%;
                    right: 25%;
                }   
                
            }
            >ul{
                max-width: 70%;
                >li{
                    width: 278px;
                }
            }
        }
        .footer{
            flex-direction: column;
            padding: 40px 12px 40px 12px;
            .info{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 120px;
                }
                p{
                    text-align: center;
                }
            }
            >ul{
                max-width: 100%;
                width: 80%;
                margin: 0 auto;
                >li{
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
        .modal{
            >.modal-content{
                width: 90%;
                >.modal-header{
                    >h2{
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 33.6px;
                        color: #3B3B3B;
                    }
                    >p{
                        line-height: 24px;
                        color: #919191;
                    }
                }
                >.description{
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 40px 56px 40px 56px;
                    line-height: 24px;
                    .modal-text{
                        padding: 0;
                        text-align: left;
                        margin: 0 auto;
                        margin-bottom: 24px;
                    }
                    .modal-info{
                        padding: 24px 0px 0px 0px;
                        border-top: 1px solid #C1C1C1;
                        line-height: 24px;
                        border-left: none;
                        text-align: center;
                        >p{
                            margin-bottom: 24px;
                        }
                        .br{
                            display: block;
                            margin-bottom: 4px;
                        }
                        .colon{
                            display: none;
                        }
                    }
                }
                >.modal-cards>li>p{
                    text-align: left;
                }
                    
                
                
            }
        }
    }
}